*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  letter-spacing: 1.2;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e5e5e5;
  height: 100vh;

  /* font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700; */
}

.logo {
  width: 76px;
  height: 20px;
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  padding-top: 10px;
}

.head-section {
  display: flex;
  justify-content: space-between;
  padding: 40px 24px 14px;
}

.white {
  background-color: white;
  height: 100vh;
  border-bottom-left-radius: 100px;
}

nav {
  display: flex;

  /* margin-top: 10px; */
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

#list-items {
  display: none;
}

li {
  font-style: normal;
  font-weight: 500;
  color: #344563;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
}

.bio {
  width: 100%;
  height: calc(718px - 60px);
  background-image: url(./images/mobile-background-img.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  border-bottom-left-radius: 5rem;
  background-color: #fff;
  position: relative;
  padding: 118px 24px;
}

h2 {
  max-width: 80vw;
  padding-top: 40px;

  /* padding-top: 100px; */
  font-family: 'Poppins', sans-serif;
  max-height: 75%;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 327px;
  height: 150px;

  /* margin: 0 10px; */
  display: flex;
  align-items: center;
}

p {
  max-width: 100vw;
  max-height: 60vh;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #344563;
  margin: 10px;
  text-align: justify;
  padding-top: 20px;
}

h3 {
  max-width: 100vw;
  font-style: normal;
  max-height: 100vh;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin: 0 10px;
  line-height: 24px;
  color: #7f8cff;
  font-weight: 500;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: 14px;
  gap: 20px;
}

.social-icons {
  margin-top: 20px;
  margin-bottom: 17px;
  transition: all 0.2s ease-in-out;
}

.social-icons:hover {
  transform: scale(1.1);
}

.union-icon img {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: flex-end;
}

.main-container {
  width: 100%;
  height: 100%;
  z-index: 999;
}
